.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #292929;
    padding: 20px 0 20px 0;
    align-items: center;
    margin-bottom: 20px;
}
.navbar h1{
    font-size: 32px;
}
.nav-itens {
    display: flex;
    list-style: none;
    width: 20%;
    justify-content: space-around;
}
.nav-link {
    text-decoration: none;
    color: inherit;
}
